* {
    box-sizing: border-box;
    font-family: 'TRT';
    transition: all .6s;
}
  
html {
    scroll-behavior: smooth !important;
}
.navbar{
    background-color: #0f263e;
    height: 100px;
}
.navbar-brand:hover{
    filter: drop-shadow(0 0 1.1rem rgb(20, 143, 220));
}
.collapse{
    background-color: #0f263e;
    text-align: center;
    border-radius: 15px;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
        0 4px 8px rgba(0, 0, 0, 0.06);
    }
.github a{
    text-decoration: none;
    color: aliceblue;
    font-size: 32px;
}
footer{
    background-color: #0f263e;
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .navbar{
        font-size: 12px!important;
    }
}