* {
  box-sizing: border-box;
  font-family: 'TRT';
  transition: all .6s;
}

html {
  scroll-behavior: smooth !important;
}
.navbar{
  background-color: #0f263e;
  height: 100px;
}
.card{
  background-color: #0f263e;
}
.collapse{
  background-color: #0f263e;
  text-align: center;
  border-radius: 15px;
}
.navbar-brand:hover{
  filter: drop-shadow(0 0 1.1rem rgb(20, 143, 220));
}

/* #backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#backtotop i {
  
  font-size: 45px;
  transition: all 0.9s;
  z-index: 6;
  padding: 10px;
  border-radius: 49px;
}
#backtotop i:hover{
  opacity: 0.8!important;
} */
.github a{
  text-decoration: none!important;
  color: aliceblue!important;
  font-size: 32px;
}

footer{
  background-color: #0f263e;
}

@media screen and (max-width: 768px) { /* Tablet */
  .navbar{
    height: 80px;
  }
}

@media screen and (max-width: 576px) { /* Mobil */
  .navbar{
    height: 60px;
  }
}

@media screen and (max-width: 992px) { /* Masaüstü */
  .navbar{
    height: 120px;
  }}
  @media only screen and (min-width:768px) and (max-width:1023px){
    .navbar{
        font-size: 12px!important;
    }
}