* {
    box-sizing: border-box;
    font-family: 'TRT';
    transition: all .6s;
}
  
html {
    scroll-behavior: smooth !important;
}
.navbar{
    background-color: #0f263e;
    height: 100px;
}
.navbar-brand:hover{
    filter: drop-shadow(0 0 1.1rem rgb(20, 143, 220));
}
.my-image:hover{
    translate: 0px -9px;
}
.my-text p:hover{
    translate: 50px 0px;
}
.container h1:hover{
    transform: scale(1.35) ;
}
.collapse{
    background-color: #0f263e;
    text-align: center;
    border-radius: 15px;
}
.github a{
    text-decoration: none;
    color: aliceblue;
    font-size: 32px;
}
footer{
    background-color: #0f263e;
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .navbar{
        font-size: 12px!important;
    }
}
