*{
    box-sizing: border-box;
    font-family: 'TRT';
    transition: all .6s;

}
html{
    scroll-behavior: smooth!important;
}

.navbar{
    background-color: #0f263e;
    height: 100px;
}

.navbar-brand:hover{
    filter: drop-shadow(0 0 1.1rem rgb(20, 143, 220));
}
.collapse{
    background-color: #0f263e;
    text-align: center;
    border-radius: 15px;
}
.signup-title{
    text-align: center;
    color: #2b3467;
}

.signup-form{
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.signup-form input:active{
    transform: scale(0.95);
}

.signup-form label,
.signup-form input,
.signup-form select{
    width: 100%;
    margin-top: 10px;
}

@media only screen and (min-width :374px){
    .signup-form{
        width: 70%;
        max-width: 500px;
    }
    input{
        width: 100%;
    }
    .signup-form button{
        width: 100%;
    }
}

.signup-form button{
    margin-top: 15px;
    display:inline-block!important;
    width: 47%;
}
.signup-form .sifre{
    float: right!important;
    margin-left: auto;
}

.signup-form input{
    border: 1px solid #000000;
    padding: 10px 15px;
}

.signup-form input:not([type="checkbox"]):focus{
    outline: none;
    background-color: #fefff6;
    box-shadow: 5px 5px 15px rgb(0 0 0);
    transition: all 0.6s;
}
.github a{
    text-decoration: none!important;
    color: aliceblue!important;
    font-size: 32px;
}

footer{
background-color: #0f263e;
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .navbar{
        font-size: 12px!important;
    }
}